body{
    background-color: red;
    color: white;
}
.cabecalho{
    background: linear-gradient(to right, #e63946 30%, black 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho img{
    text-align: center;
    width: 50%;

}
.cabecalho hl{
    margin-left: 30%;

}